<head th:fragment="head">
  <meta charset="UTF-8" />
  <link rel="icon" href="/img/favicon/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="description" content="FoodTruck: Find FoodTruck near you" />
  <link rel="manifest" href="/static/img/favicon/manifest.json" />
  <link rel="apple-touch-icon" href="/static/img/favicon/logo192.png" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script
    src="https://kit.fontawesome.com/0f60051df1.js"
    crossorigin="anonymous"
  ></script>
</head>
