<nav
  th:fragment="navbar"
  class="bg-white flex justify-between px-[7vw] h-[6vh] w-full items-center fixed z-[1]"
>
  <a href="/public/">
    <img src="/img/logo.png" alt="" class="w-[40vw] h-[5vh]"
  /></a>
  <div
    class="overflow-hidden absolute top-[6vh] w-[100vw] left-[0vw]"
    id="outerMneu"
  >
    <ul
      class="flex-col absolute bg-white w-[100vw] translate-x-[100vw] h-[93vh]"
      id="menuList"
    >
      <li>
        <div
          class="flex flex-col justify-center p-[1rem]"
          th:unless="${isUser} or ${isFoodtruck}"
        >
          <a
            href="/public/registerUser"
            class="bg-blue-400 py-[0.5rem] mb-[0.5rem] font-semibold rounded-md shadow-md shadow-black-400 text-center"
          >
            Create New Account
          </a>
          <a
            href="/public/loginPage"
            class="bg-gray-200 px-[10vw] py-[0.5rem] font-semibold rounded-md shadow-md shadow-black-400 text-center"
          >
            LogIn
          </a>
        </div>
      </li>
      <a href="/public/" th:if="${isUser} or ${isFoodtruck}"
        ><li class="pl-[10vw] py-[2vh] border-b-[1px] border-gray-300">
          Profile
        </li></a
      >
      <a href="/public/"
        ><li class="pl-[10vw] py-[2vh] border-b-[1px] border-gray-300">
          Home
        </li></a
      >
      <li
        class="pl-[10vw] py-[2vh] border-b-[1px] border-gray-300"
        th:unless="${isUserLogged}"
      >
        About
      </li>
      <li class="pl-[10vw] py-[2vh] border-b-[1px] border-gray-300">Contact</li>
      <li class="pl-[10vw] py-[2vh] border-b-[1px] border-gray-300">
        Review Us
      </li>
      <li class="pl-[10vw] py-[2vh] border-b-[1px] border-gray-300">Blogs</li>
      <a href="/logout" th:if="${isUser} or ${isFoodtruck}"
        ><li class="pl-[10vw] py-[2vh] border-b-[1px] border-gray-300">
          LogOut
        </li></a
      >
    </ul>
  </div>
  <div class="flex justify-center items-center">
    <div class="flex justify-center items-center" th:if="${isFoodtruck}">
      <form action="/foodTruck/getLocation" method="post" hidden>
        <p id="msg"></p>
        <input type="text" name="lat" id="lat" />
        <input type="text" name="long" id="long" />
        <button type="submit" id="sendLocation">Go Online</button>
      </form>
      <button
        onclick="getLocation()"
        th:if="${isFoodtruck}"
        class="mr-[1rem] px-[0.5rem] py-[0.3rem] bg-blue-600 text-white rounded-md font-semibold"
      >
        GoOnline
      </button>
    </div>
    <button onclick="handleHamburger()" class="relative">
      <div class="bg-black w-[2.2rem] h-[0.2rem] mb-[0.4rem]" id="bar1"></div>
      <div class="bg-black w-[2.2rem] h-[0.2rem] mb-[0.4rem]" id="bar2"></div>
      <div class="bg-black w-[2.2rem] h-[0.2rem]" id="bar3"></div>
    </button>
  </div>
  <script th:src="@{/js/handleHamburger.js}"></script>
</nav>
