<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{Header.html :: head(title='FoodTruck | Contact')}">
    <title>Login | Page</title>
  </head>
  <body class="bg-gray-100 p-0 m-0">
    <nav th:replace="~{Navbar.html :: navbar}"></nav>

    <div th:if="${error}!=''">
      <div
        th:replace="~{Toaster.html :: toaster(color=${error}=='Message Send Successfully.'?green:red,msg=${error})}"
      ></div>
    </div>

    <div th:if="${param.error}">
      <div
        th:replace="~{Toaster.html :: toaster(color=red,msg='Bad Credential')}"
      ></div>
    </div>
    <div class="flex justify-center items-center w-[100vw] h-[93vh]">
      <form action="/common/addContact" method="post">
        <div
          class="flex flex-col border-[1px] border-black w-[70vw] px-[5vw] pt-[2vh] pb-[5vh] rounded-lg shadow-md shadow-[#171616] bg-white"
        >
          <h1 class="text-center text-2xl font-bold mb-[3vh]">Contact Us</h1>
          <div class="flex flex-col">
            <textarea
              type="text"
              name="msg"
              class="border-[1px] border-black h-[20vh] rounded-md pl-[0.5rem] text-[1.1rem] focus:outline-none mb-[1.5rem]"
              placeholder="Message"
            ></textarea>
            <button
              type="submit"
              class="bg-[#1E0342] rounded-lg py-[0.3rem] text-lg font-semibold text-white shadow-sm shadow-[#171616] mb-[1.3rem]"
            >
              Send Message <i class="fa-solid fa-paper-plane ml-[0.3rem]"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <script src="/js/getFoodTruckLocation.js"></script>
  </body>
</html>
