<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{/component/Header.html :: head}">
    <title>Home | Page</title>
  </head>
  <body class="bg-gray-100 p-0 m-0">
    <nav th:replace="~{/component/Navbar.html :: navbar}"></nav>

    <div
      class="bg-[url(/img/foodtruck.png)] bg-cover xl:bg-[1px] flex flex-col justify-center items-center h-[40vh] sm:h-[65vh] md:h-[75vh] lg:h-[100vh]"
    >
      <div
        class="bg-white rounded-md bg-opacity-60 border border-gray-100 p-[5vh] sm:p-[10vh] xl:py-[15vh] xl:px-[20vh] flex flex-col justify-center items-center"
      >
        <h1 class="text-[1.35rem] sm:text-[1.5rem] xl:text-[2rem] font-bold">
          Welocome to FoodTruck
        </h1>
        <p class="font-semibold text-[1rem] xl:text-[1.2rem]">
          Find food like never tested.
        </p>

        <div th:if="${isUserLogged}">
          <div th:if="${isUser}" class="mt-[1rem]">
            <a
              th:href="@{/user/userDashboard}"
              class="px-[1rem] py-[0.5rem] bg-[#1E0342] text-white rounded-lg font-semibold"
              >Contine</a
            >
          </div>
          <div th:if="${isFoodtruck}" class="mt-[1rem]">
            <a
              th:href="@{/foodTruck/foodTruckDashboard}"
              class="px-[1rem] py-[0.5rem] bg-[#1E0342] text-white rounded-lg font-semibold"
              >Contine</a
            >
          </div>
        </div>
        <div th:unless="${isUserLogged}" class="mt-[1rem]">
          <a
            th:href="@{/public/loginPage}"
            class="px-[1rem] py-[0.5rem] bg-[#1E0342] text-white rounded-lg font-semibold"
            >Login</a
          >
        </div>
      </div>
    </div>

    <div class="mt-[5vh] bg-[#5BBCFF] p-[5vh]">
      <h1 class="text-2xl text-center font-semibold">
        Thinking about starting Food Truck?
      </h1>
      <div class="flex flex-col justify-center items-center mt-[3vh]">
        <p class="text-center mb-[4rem] font-semibold">
          Dreaming of starting your own culinary adventure? Consider launching a
          food truck! Experience the thrill of bringing your unique flavors to
          the streets. With the flexibility to roam and the opportunity to
          connect with food lovers, it's a recipe for success. From crafting
          your menu to finding your niche, the journey is yours to savor. Take
          the first step towards food truck fame today!
        </p>
        <a
          href="/public/howToStartFoodtruck"
          class="font-semibold px-[1rem] py-[0.5rem] bg-[#1E0342] text-white w-[70vw] lg:w-[50vw] text-center font-semibold rounded-md shadow-md shadow-black"
          >How to start Food Truck?</a
        >
      </div>
    </div>

    <div class="mt-[5vh] flex flex-col items-center justify-center">
      <h1
        class="underline text-2xl text-center underline-offset-[0.5rem] font-semibold"
      >
        Customer Reviews
      </h1>

      <div class="flex flex-col justify-center items-center mt-[3vh]">
        <div
          class="bg-white w-[20rem] sm:w-[30rem] sm:w-[40rem] lg:w-[90vw] p-[1.5rem] rounded-lg shadow-md shadow-black mb-[2rem]"
          th:each="review : ${reviews}"
        >
          <p class="text-justify mb-[1rem]" th:text="${review.msg}"></p>
          <div class="flex justify-between items-center">
            <p class="font-semibold" th:text="${review.name}"></p>
            <p>
              <span class="font-semibold">Date:</span>
              <span th:text="${review.date}"></span>
            </p>
          </div>
        </div>
      </div>
      <a
        href="/common/reviewUs"
        class="text-center bg-[#1E0342] py-[0.5rem] text-white w-[20rem] rounded-md font-semibold"
      >
        Read More</a
      >
    </div>

    <div class="flex flex-col mt-[5vh] bg-[#AFD198] py-[5vh] px-[4vw]">
      <h1
        class="underline text-2xl text-center underline-offset-[0.5rem] font-semibold"
      >
        Blogs
      </h1>

      <div class="flex mt-[3vh] overflow-y-hidden overflow-x-scroll">
        <div class="flex w-[1000vw] py-[2rem]">
          <div
            class="bg-white w-[18rem] h-[25rem] p-[1rem] rounded-lg shadow-md shadow-black mx-[1rem]"
            th:each="blog : ${blogs}"
          >
            <img
              th:src="@{'data:image/jpeg;Base64,'+${blog.image}}"
              alt=""
              class="h-[12rem] w-full"
            />
            <p class="text-justify mb-[1rem]" th:text="${blog.msg}"></p>
            <p class="font-semibold" th:text="${blog.name}"></p>
            <p class="text-[0.8rem]">
              <span class="font-semibold">Date: </span
              ><span th:text="${blog.date}"></span>
            </p>
          </div>

          <div
            class="bg-white w-[18rem] h-[25rem] p-[1rem] rounded-lg shadow-md shadow-black mx-[1rem] flex justify-center items-center"
          >
            <a
              href="/common/blogs"
              class="text-center bg-[#1E0342] px-[2rem] py-[0.5rem] text-white rounded-md font-semibold"
              >Read More Blogs</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
