<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{/component/Header.html :: head}">
    <title>Home | Page</title>
  </head>
  <body class="bg-gray-100 p-0 m-0">
    <nav th:replace="~{/component/Navbar.html :: navbar}"></nav>

    <div
      class="bg-[url(/img/foodtruck.png)] bg-cover flex flex-col justify-center items-center h-[40vh]"
    >
      <div
        class="bg-gray-400 rounded-md bg-opacity-80 border border-gray-100 p-[5vh] flex flex-col justify-center items-center"
      >
        <h1 class="text-[1.35rem] font-bold">Welocome to FoodTruck</h1>
        <p class="font-semibold text-[1rem]">Find food like never tested.</p>

        <div th:if="${isUserLogged}">
          <div th:if="${isUser}" class="mt-[1rem]">
            <a
              th:href="@{/user/userDashboard}"
              class="px-[1rem] py-[0.5rem] bg-blue-600 text-white rounded-lg"
              >Contine</a
            >
          </div>
          <div th:if="${isFoodtruck}" class="mt-[1rem]">
            <a
              th:href="@{/foodTruck/foodTruckDashboard}"
              class="px-[1rem] py-[0.5rem] bg-blue-600 text-white rounded-lg"
              >Contine</a
            >
          </div>
        </div>
        <div th:unless="${isUserLogged}" class="mt-[1rem]">
          <a
            th:href="@{/public/loginPage}"
            class="px-[1rem] py-[0.5rem] bg-blue-600 text-white rounded-lg"
            >Login</a
          >
        </div>
      </div>
    </div>

    <div class="mt-[5vh] bg-[#5BBCFF] p-[5vh]">
      <h1 class="text-2xl text-center font-semibold">
        Thinking about starting Food Truck?
      </h1>
      <div class="flex flex-col justify-center items-center mt-[3vh]">
        <p class="text-center mb-[4rem] font-semibold">
          Dreaming of starting your own culinary adventure? Consider launching a
          food truck! Experience the thrill of bringing your unique flavors to
          the streets. With the flexibility to roam and the opportunity to
          connect with food lovers, it's a recipe for success. From crafting
          your menu to finding your niche, the journey is yours to savor. Take
          the first step towards food truck fame today!
        </p>
        <a
          href="#"
          class="font-semibold px-[1rem] py-[0.5rem] bg-orange-600 text-white w-[70vw] text-center font-semibold rounded-md shadow-md shadow-black"
          >How to start Food Truck?</a
        >
      </div>
    </div>

    <div class="mt-[5vh]">
      <h1
        class="underline text-2xl text-center underline-offset-[0.5rem] font-semibold"
      >
        Customer Reviews
      </h1>
      <div class="flex justify-center items-center mt-[3vh]">
        <div
          class="bg-white w-[20rem] p-[1.5rem] rounded-lg shadow-md shadow-black"
        >
          <p class="text-justify mb-[1rem]">
            I would like to take this opportunity to share my thoughts and
            experiences on food. Food is an essential part of our daily lives,
            providing us with nourishment and energy to go about our day.
            However, food is more than just sustenance, it is a cultural and
            social experience that brings people together.
          </p>
          <p class="font-semibold">Rohan Maske</p>
        </div>
      </div>
    </div>

    <div class="flex flex-col mt-[5vh] bg-[#AFD198] py-[5vh] px-[4vw]">
      <h1
        class="underline text-2xl text-center underline-offset-[0.5rem] font-semibold"
      >
        Blogs
      </h1>

      <div class="flex mt-[3vh] overflow-y-hidden overflow-x-scroll">
        <div class="flex w-[1000vw] py-[2rem]">
          <div
            class="bg-white w-[18rem] h-[25rem] p-[1rem] rounded-lg shadow-md shadow-black mx-[1rem]"
          >
            <img src="/img/fblog.jpeg" alt="" class="h-[12rem]" />
            <p class="text-justify mb-[1rem]">
              I would like to take this opportunity to share my thoughts and
              experiences on food. Food is an essential part of our daily lives,
            </p>
            <p class="font-semibold">Rohan Maske</p>
          </div>
          <div
            class="bg-white w-[18rem] h-[25rem] p-[1rem] rounded-lg shadow-md shadow-black mx-[1rem]"
          >
            <img src="/img/fblog.jpeg" alt="" class="h-[12rem]" />
            <p class="text-justify mb-[1rem]">
              I would like to take this opportunity to share my thoughts and
              experiences on food. Food is an essential part of our daily lives,
            </p>
            <p class="font-semibold">Rohan Maske</p>
          </div>
          <div
            class="bg-white w-[18rem] h-[25rem] p-[1rem] rounded-lg shadow-md shadow-black mx-[1rem]"
          >
            <img src="/img/fblog.jpeg" alt="" class="h-[12rem]" />
            <p class="text-justify mb-[1rem]">
              I would like to take this opportunity to share my thoughts and
              experiences on food. Food is an essential part of our daily lives,
            </p>
            <p class="font-semibold">Rohan Maske</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
