<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{/component/Header.html :: head}">
    <title>Login | Page</title>
  </head>
  <body class="bg-gray-100 p-0 m-0">
    <nav th:replace="~{/component/Navbar.html :: navbar}"></nav>

    <div th:if="${param.error}">
      <div
        th:replace="~{/component/Toaster.html :: toaster(color=red,msg='Bad Credential')}"
      ></div>
    </div>

    <div class="flex justify-center items-center w-[100vw] h-[93vh]">
      <form action="/login" class="" method="post">
        <div
          class="flex flex-col border-[1px] border-black w-[70vw] px-[5vw] pt-[2vh] pb-[5vh] rounded-lg shadow-md shadow-black bg-white"
        >
          <h1 class="text-center text-2xl font-bold mb-[3vh]">LogIn</h1>
          <div class="flex flex-col">
            <label for="username" class="font-semibold text-lg mb-[0.5rem]"
              >Username</label
            >
            <input
              type="text"
              name="username"
              class="border-[1px] border-black h-[4vh] rounded-md pl-[0.5rem] text-[1.1rem] focus:outline-none"
            />
            <label
              for="password"
              class="font-semibold text-lg mb-[0.5rem] mt-[1rem]"
              >Password</label
            >
            <div
              class="border-[1px] border-black h-[4vh] rounded-md text-[1.1rem] flex items-center mb-[2rem]"
            >
              <input
                type="password"
                name="password"
                class="focus:outline-none rounded-md pl-[0.5rem] text-[1.1rem]"
                id="pass"
              />
              <div class="cursor-pointer" onclick="handlePass()">
                <i class="fa-solid fa-eye" id="show"></i
                ><i class="fa-solid fa-eye-slash hidden" id="hide"></i>
              </div>
            </div>
            <script src="/js/passwordVisibility.js"></script>

            <button
              type="submit"
              class="bg-blue-400 rounded-lg py-[0.3rem] text-lg font-semibold text-white shadow-sm shadow-black mb-[1.3rem]"
            >
              LogIn
            </button>
            <p>
              New User?<a
                href="/public/registerUser"
                class="text-blue-500 underline underline-offset-[0.3rem]"
              >
                Create Account</a
              >
            </p>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
