<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{Header.html :: head}">
    <title>Document</title>
  </head>
  <body class="bg-gray-100 p-0 m-0">
    <nav th:replace="~{Navbar.html :: navbar}"></nav>
    <div th:if="${error}!=''">
      <div
        th:replace="~{Toaster.html :: toaster(color=${error}=='Profile Updated Successfully.'?green:red,msg=${error})}"
      ></div>
    </div>

    <div class="pt-[7vh] sm:pt-[17vh] pb-[5vh] px-[5vw]">
      <h1
        class="text-center font-semibold underline underline-offset-[0.4rem] text-[1.5rem]"
      >
        Profile
      </h1>

      <div
        class="mt-[3vh] lg:mt-[1rem] flex flex-col justify-center items-center"
      >
        <div class="mb-[4vh] w-full flex justify-end items-end">
          <button
            onclick="handleUpdateTruck()"
            id="editBtn"
            class="bg-[#1E0342] rounded-md px-[0.8rem] lg:px-[1rem] py-[0.2rem] lg:py-[0.4rem] text-white font-semibold"
          >
            Edit Profile
          </button>
        </div>
        <form action="/foodTruck/updateTruck" method="post">
          <div class="flex flex-col">
            <label for="name" class="font-semibold text-[1rem] mb-[0.5rem]"
              >Full Name</label
            >
            <input
              type="text"
              id="name"
              name="name"
              th:value="${foodtruck.name}"
              class="w-[65vw] md:w-[50vw] lg:w-[40vw] h-[4vh] sm:h-[6vh] border-[1px] border-black focus:outline-none pl-[0.5rem] text-[1.1rem] rounded-md mb-[1rem]"
              disabled
            />
            <label
              for="foodTruckName"
              class="font-semibold text-[1rem] mb-[0.5rem]"
              >Foodtruck Name</label
            >
            <input
              type="text"
              id="foodTruckName"
              name="foodTruckName"
              th:value="${foodtruck.foodTruckName}"
              class="w-[65vw] md:w-[50vw] lg:w-[40vw] h-[4vh] sm:h-[6vh] border-[1px] border-black focus:outline-none pl-[0.5rem] text-[1.1rem] rounded-md mb-[1rem]"
              disabled
            />
            <label for="email" class="font-semibold text-[1rem] mb-[0.5rem]"
              >Email</label
            >
            <input
              type="email"
              id="email"
              name="email"
              th:value="${foodtruck.email}"
              class="w-[65vw] md:w-[50vw] lg:w-[40vw] h-[4vh] sm:h-[6vh] border-[1px] border-black focus:outline-none pl-[0.5rem] text-[1.1rem] rounded-md mb-[1rem]"
              disabled
            />
            <label
              for="openingTime"
              class="font-semibold text-[1rem] mb-[0.5rem]"
              >Opening Time</label
            >
            <input
              type="time"
              id="openingTime"
              name="openingTime"
              th:value="${foodtruck.openingTime}"
              class="w-[65vw] md:w-[50vw] lg:w-[40vw] h-[4vh] sm:h-[6vh] border-[1px] border-black focus:outline-none pl-[0.5rem] text-[1.1rem] rounded-md mb-[1rem]"
              disabled
            />
            <label
              for="closingTime"
              class="font-semibold text-[1rem] mb-[0.5rem]"
              >Closing Time</label
            >
            <input
              type="time"
              id="closingTime"
              name="closingTime"
              th:value="${foodtruck.closingTime}"
              class="w-[65vw] md:w-[50vw] lg:w-[40vw] h-[4vh] sm:h-[6vh] border-[1px] border-black focus:outline-none pl-[0.5rem] text-[1.1rem] rounded-md mb-[1rem]"
              disabled
            />
            <label
              for="closingTime"
              class="font-semibold text-[1rem] mb-[0.5rem]"
              >Foodtruck</label
            >
            <div class="flex items-center">
              <div class="flex justify-center items-center mr-[2rem]">
                <input
                  type="radio"
                  id="status"
                  name="status"
                  th:value="Open"
                  class="focus:outline-none w-[1.2rem] h-[1.2rem] mr-[1rem]"
                  th:checked="${foodtruck.status=='Open'?'checked':''}"
                  disabled
                /><label
                  for="closingTime"
                  class="font-semibold text-[1rem] flex justify-center items-center"
                  >Open</label
                >
              </div>
              <div class="flex justify-center items-center mr-[2rem]">
                <input
                  type="radio"
                  id="status1"
                  name="status"
                  value="Close"
                  class="focus:outline-none w-[1.2rem] h-[1.2rem] mr-[1rem]"
                  th:checked="${foodtruck.status=='Closed'?'checked':''}"
                  disabled
                /><label for="closingTime" class="font-semibold text-[1rem]"
                  >Closed</label
                >
              </div>
            </div>
            <button
              type="submit"
              id="subBtn"
              class="bg-[#1E0342] rounded-md px-[2rem] py-[0.4rem] text-white font-semibold mt-[1rem] hidden"
            >
              Update
            </button>
          </div>
        </form>
        <script>
          function handleUpdateTruck() {
            document.getElementById("name").removeAttribute("disabled");
            document
              .getElementById("foodTruckName")
              .removeAttribute("disabled");
            document.getElementById("openingTime").removeAttribute("disabled");
            document.getElementById("closingTime").removeAttribute("disabled");
            document.getElementById("status").removeAttribute("disabled");
            document.getElementById("status1").removeAttribute("disabled");
            document.getElementById("subBtn").classList.remove("hidden");
            document.getElementById("editBtn").classList.add("hidden");
          }
        </script>
      </div>
    </div>
  </body>
</html>
