<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{Header.html :: head(title='FoodTruck | User Profile')}">
    <title>Document</title>
  </head>
  <body class="bg-gray-100 p-0 m-0">
    <nav th:replace="~{Navbar.html :: navbar}"></nav>
    <div th:if="${error}!=''">
      <div
        th:replace="~{Toaster.html :: toaster(color=${error}=='Profile Updated Successfully.'?green:red,msg=${error})}"
      ></div>
    </div>

    <div class="pt-[7vh] sm:pt-[17vh] pb-[5vh] px-[5vw]">
      <h1
        class="text-center font-semibold underline underline-offset-[0.4rem] text-[1.5rem]"
      >
        Profile
      </h1>

      <div class="mt-[3vh] flex flex-col justify-center items-center">
        <div class="mb-[4vh] w-full flex justify-end items-end">
          <button
            onclick="handleUpdateUser()"
            id="editBtn"
            class="bg-[#1E0342] rounded-md px-[0.8rem] lg:px-[1rem] py-[0.2rem] lg:py-[0.4rem] text-white font-semibold"
          >
            Edit Profile
          </button>
        </div>
        <form action="/user/updateUser" method="post">
          <div class="flex flex-col">
            <label for="name" class="font-semibold text-[1rem] mb-[0.5rem]"
              >Full Name</label
            >
            <input
              type="text"
              id="name"
              name="name"
              th:value="${user.name}"
              class="w-[65vw] md:w-[50vw] lg:w-[40vw] h-[4vh] sm:h-[6vh] border-[1px] border-black focus:outline-none pl-[0.5rem] text-[1.1rem] rounded-md mb-[1rem]"
              disabled
            />
            <label for="email" class="font-semibold text-[1rem] mb-[0.5rem]"
              >Email</label
            >
            <input
              type="email"
              id="email"
              name="email"
              th:value="${user.email}"
              class="w-[65vw] md:w-[50vw] lg:w-[40vw] h-[4vh] sm:h-[6vh] border-[1px] border-black focus:outline-none pl-[0.5rem] text-[1.1rem] rounded-md mb-[1rem]"
              disabled
            />
            <button
              type="submit"
              id="subBtn"
              class="bg-[#1E0342] rounded-md px-[2rem] py-[0.4rem] text-white font-semibold mt-[1rem] hidden"
            >
              Update
            </button>
          </div>
        </form>
        <script>
          function handleUpdateUser() {
            document.getElementById("name").removeAttribute("disabled");
            document.getElementById("subBtn").classList.remove("hidden");
            document.getElementById("editBtn").classList.add("hidden");
          }
        </script>
      </div>
    </div>
  </body>
</html>
