<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodTruck | User</title>
  </head>
  <body>
    <a href="/logout">LogOut</a>

    <form action="/user/getUserLocation" method="post" hidden>
      <p id="msg"></p>
      <input type="text" name="lat" id="lat" th:value="${user.lat}" />
      <input type="text" name="long" id="long" th:value="${user.longi}" />
      <button type="submit" id="sendLocation">Go Online</button>
    </form>

    <p th:text="${user.name}"></p>
    <p th:text="${user.email}"></p>

    <p th:text="${foodtrucks}"></p>

    <div th:each="foodtruck : ${foodtrucks}">
      <p th:text="${foodtruck.name}"></p>
      <a th:href="@{'/user/foodtruckDetails/'+${foodtruck.email}}">
        <p th:text="${foodtruck.foodTruckName}"></p
      ></a>
      <p>
        Foodtruck Location :
        <a
          th:href="@{'https://www.google.com/maps/place/'+${foodtruck.lat}+','+${foodtruck.longi}}"
          target="_blank"
          >Visit Foodtruck</a
        >
      </p>
      <p th:text="${foodtruck.email}"></p>
      <div th:each="img : ${foodtruck.MenuEntity}">
        <img th:src="@{'data:image/jpeg;base64,'+${img.image}}" alt="" />
      </div>
    </div>
    <script th:src="@{/js/getUserLocation.js}"></script>
  </body>
</html>
